// body {
//   background-color: $color;
// }
.layout-wrap {
  height: 100vh;
}
.header-wrap {
  height: 75px;
  background: #fff;
  @include webkit(box-shadow, 0 10px 16px rgba(0, 0, 0, .1));
  z-index: 2;
}
.content-warp {
  border: 30px solid #f7f7f7;
  background-color: #fff;
  padding: 30px;
}