.container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  .form-header {
    color: #fff;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h1 {
      color: #fff;
    }
    span {
      color: #ddd;
      font-size: 12px;
      cursor: pointer;
    }
  } 
}

.ant-btn-danger {
  color: #fff!important;
  background: #ff4d4f!important;
  border-color: #ff4d4f !important;
}